---
layout: layouts/base
---
<div class="page">
    <div class="title__wrapper">
        <h1 class="title__text">{{ site.title }}</h1>
        <p class="title__subtitle">{{ site.subtitle }}</p>
    </div>
    {% include 'components/about.njk' %}
    <main class="main">
        {{ content | safe }}
    </main>
</div>